/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* inner-container Class */
.inner-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logout-btn {
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    color: #343a40;
    font-size: bold;
}

/* inner-header Styling */
.inner-header {
    background-color: #1f2937; /* dark blue-gray */
    color: white;
    padding: 30px 0;
}

/* Login inner-container */
.login-inner-container {
    background-color: #374151; /* lighter dark */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.login-inner-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-inner-container p {
    font-size: 16px;
    color: #d1d5db;
}

/* Body Content Title */
body h1 {
    font-size: 32px;
    margin: 20px 0;
    color: #ffffff;
    text-align: center;
}

/* Navigation Styles */
nav {
    padding: 20px;
    border-radius: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #60a5fa; /* light blue */
}

/* Child Section */
.child {
    background-color: #f3f4f6; /* light gray */
    padding: 40px 0;
    border-top: 1px solid #e5e7eb;
}

.child h2 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    color: #1f2937;
}

.child p {
    text-align: center;
    color: #4b5563;
    font-size: 16px;
}

iframe {
    width: 100%;
    height: 50vh;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px 0px;
    scrollbar-highlight-color: #ffffff00;
    overflow: hidden;
}